<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>First Contact</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/main.css">
</head>
<body id="top">

    <header class="header">

        <img src="img/first_contact_logo.png" srcset="img/first_contact_logo.png 1x, iimg/first_contact_logo@2x.png 2x" width="164" height="50" alt="First Contact logo">

    </header>    

    <form id="lang_loc_form" name="lang_loc_form" action="routing.php" method="GET">

        <ul class="radio-group">
            {{#each languageShortCodes }}
                {{> languageRadio this }}
            {{/each}}
        </ul>

        <ul class="btn-list btn-list--full">
            {{#each locations }}
                {{> locationButton this }}
            {{/each}}

            <!--
            <li class="btn-list__item">
                <a href="/map" class="btn btn--hollow">Open Map</a>
            </li>
            <li class="btn-list__item">
                <button class="btn btn--hollow" onclick="load_from_browser()">Detect my location</button>
            </li>
            -->
        </ul>

    </form>     

    <footer>
        <p class="copyright"><a href="https://github.com/mozboz/fc-pagegen/blob/master/LICENSE">Copyright, first-contact.org</a></p>
    </footer>

</body>
</html>
