<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> First Contact | {{T_LOCATION}} </title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>

    <style>
        body {
            padding-top: 40px;
        }

        .spacer-20 {
            margin: 0;
            padding: 0;
            height: 20px;
        }

        .btn-md {
            margin-left: 5px;
            margin-top: 10px;
            border-radius: 15px;
            background: #000000;
        }
    </style>


    <!-- NEED TO INCLUDE HERE:
    - meta data information (google, facebook, author, etc.). Some of this will be page-dependent.
    - google analytics
    - favicon (at least a wee 16x16 5kb thing to prevent server errors
    - cache settings
    - change html lang & charset as well.
    -->


</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- dropdown-menu on mobile-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">First Contact | Welcome to Europe</a>
        </div>
        <!-- menu items  -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">Refugees</a></li>
                <li><a href="/">Supporters</a></li>
                <li><a href="/">About</a></li>
            </ul>
        </div>
    </div>
</nav>

<container>

    <!-- location information / top of page -->

    <div class=row>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-lg-offset-2 text-center">
            <div class="spacer-20"></div>
            <h1> {{T_LOCATION_H}} </h1>

            <p> {{T_LOCATION_P}} </p>
        </div>


        <!-- Onwards Journey-->

        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-lg-offset-2 text-center">
            <div class="spacer-20"></div>
            <h2> {{T_TRANSIT_H}} </h2>

            <p> {{T_TRANSIT_P}} </p>

            <p>
                <a class="btn btn-primary btn-md" href="{{U_TRANSIT_1}}" target="_blank">UT_TRANSIT_1</a>
            </p>
            <img class="img-responsive" alt="{{T_ALT_TRANSIT}}" src="{{M_TRANSIT}}" width="100%">
        </div>

        <!-- Police-->
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-lg-offset-2 text-center">
            <div class="spacer-20"></div>
            <h2> {{T_POLICE_H}} </h2>

            <p> {{T_POLICE_P}} </p>
            <img class="img-responsive" alt="{{T_ALT_POLICE}}" src="{{M_POLICE}}" width="100%">
        </div>

        <!-- Hospital-->
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-lg-offset-2 text-center">
            <div class="spacer-20"></div>
            <h2> {{T_HOSPITAL_H}} </h2>

            <p> {{T_HOSPITAL_P}} </p>
            <img class="img-responsive" alt="{{T_ALT_HOSPITAL}}" src="{{M_HOSPITAL}}" width="100%">
        </div>

        <!-- Public Authority-->
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-lg-offset-2 text-center">
            <div class="spacer-20"></div>
            <h2> {{T_PUBLICAUTHORITY_H}} </h2>

            <p> {{T_PUBLICAUTHORITY_P}} </p>
            <img class="img-responsive" alt="{{T_ALT_PUBLICAUTHORITY}}" src="{{M_PUBLICAUTHORITY}}" width="100%">
        </div>

        <!-- Registration-->
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-lg-offset-2 text-center">
            <div class="spacer-20"></div>
            <h2> {{T_REGISTRATIONPROCESS_H}} </h2>

            <p> {{T_REGISTRATIONPROCESS_P}} </p>

            <h2> {{T_REGISTRATIONPAPERS_H}} </h2>

            <p> {{T_REGISTRATIONPAPERS_P}} </p>
        </div>

        <!-- Accommodation-->
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-lg-offset-2 text-center">
            <div class="spacer-20"></div>
            <h2> {{T_ACCOMMODATIONPRIVATE_H}} </h2>

            <p> {{T_ACCOMMODATIONPRIVATE_P}} </p>

            <h2> {{T_ACCOMMODATIONCOMMERCIAL_H}} </h2>

            <p> {{T_ACCOMMODATIONCOMMERCIAL_P}} </p>

            <!-- camp -->
            <h2> {{T_CAMP_H}} </h2>

            <h2> {{T_CAMP_P}} </h2>
            <img class="img-responsive" alt="{{T_ALT_CAMP}}" src="{{M_CAMP}}" width="100%">

        </div>

        <!-- Emergency Number -->
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-lg-offset-2 text-center">
            <div class="spacer-20"></div>
            <h2> {{T_EMERGENCY_H}} </h2>
            <a class="btn btn-primary btn-md" href="tel:{{P_EMERGENCY}}">{{P_EMERGENCY}}</a>

            <img class="img-responsive" alt="{{M_FOOD_ALT}}" src="{{M_FOOD}}" width="100%">
        </div>

        <!-- Local Support Groups -->
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-lg-offset-2 text-center">
            <div class="spacer-20"></div>
            <h2> {{T_LOCAL_H}} </h2>
            <h4> {{T_LOCAL_H_1}} </h4>

            <p> {{T_LOCAL_P_1}}</p>
            <a class="btn btn-primary btn-md" href="tel:{{P_LOCAL_1}}">{{P_LOCAL_1}}</a>
            <a class="btn btn-primary btn-md" href="mailto:{{E_LOCAL_1}}">{{E_LOCAL_1}}</a>

        </div>


        <!-- Food -->
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-lg-offset-2 text-center">
            <div class="spacer-20"></div>
            <h2> {{T_FOOD_H}} </h2>
            <img class="img-responsive" alt="{{M_FOOD_ALT}}" src="{{M_FOOD}}" width="100%">
        </div>

        <!-- Food -->
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-lg-offset-2 text-center">
            <div class="spacer-20"></div>
            <h2> {{T_FOOD_H}} </h2>
            <img class="img-responsive" alt="{{M_FOOD_ALT}}" src="{{M_FOOD}}" width="100%">
        </div>

        <!-- Food -->
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-lg-offset-2 text-center">
            <div class="spacer-20"></div>
            <h2> {{T_FOOD_H}} </h2>
            <img class="img-responsive" alt="{{M_FOOD_ALT}}" src="{{M_FOOD}}" width="100%">
        </div>


</container> <!-- main container -->

<!-- load JS at end, helps bootstrap -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>


</body>
</html>