
<!-- template for adding new section. Contains one of each type of information-->

<div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-lg-offset-2 text-center">
    <div class="spacer-20"></div>

    <!-- section header -->
    <h2> T_NEW_H </h2>

    <!-- section paragraph text  -->
    <p> T_NEW_P </p>

    <!-- map (as .jpg right now) -->
    <img class="img-responsive" alt="T_ALT_MAP" src="img/map.jpg" width="100%">

    <!-- add link & text as pretty button, works well on smartphones -->
    <p>
        <a class="btn btn-primary btn-md" href="U_LINK" target="_blank">UT_LINK</a>
        <a class="btn btn-primary btn-md" href="U_LINK" target="_blank">UT_LINK</a>
    </p>

    <!-- add buttons for contact -->

    <p>
        <!-- add direct email -->
        <a  class="btn btn-primary btn-md" href="mailto:E_NEW">E_NEW</a>
        <!-- add direct call (for mobile)-->
        <a  class="btn btn-primary btn-md" href="tel:P_NEW">P_NEW</a>
    </p>

</div>
