<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> First Contact | {{T_LOCATION}} </title>

</head>
<body>

<container>

    <!-- location information / top of page -->

    <div class=row>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-lg-offset-2 text-center">
            <div class="spacer-20"></div>
            <h1> {{T_LOCATION_H}} </h1>

            <p> {{T_LOCATION_P}} </p>
        </div>


        <!-- Onwards Journey-->

        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-lg-offset-2 text-center">
            <div class="spacer-20"></div>
            <h2> {{T_TRANSIT_H}} </h2>

            <p> {{T_TRANSIT_P}} </p>

            <p>
                <a class="btn btn-primary btn-md" href="{{U_TRANSIT_1}}" target="_blank">{{UT_TRANSIT_1}}</a>
            </p>
            <img class="img-responsive" alt="{{T_ALT_TRANSIT}}" src="{{M_TRANSIT}}" width="100%">
        </div>

        <!-- Police-->
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-sm-offset-1 col-lg-offset-2 text-center">
            <div class="spacer-20"></div>
            <h2> {{T_POLICE_H}} </h2>

            <p> {{T_POLICE_P}} </p>
            <img class="img-responsive" alt="{{T_ALT_POLICE}}" src="{{M_POLICE}}" width="100%">
        </div>

    </div>
</container> <!-- main container -->

</body>
</html>